@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: theme('fontFamily.sans');
  background-color: #f7f7f7;
  color: #0f172a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
